/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;



}

.container{
    background-color: rgb(255, 255, 255);
    width: 870px;
    padding: 30px ;
    border-radius: 5px solid rgb(43, 36, 36);
    margin-top: 21px;

}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*-------- Top Players style--------- */

.top-players{
    margin-bottom: 30px;
}

.section-title{
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #562EFF;
margin-top: 3px;
margin-bottom: 31px;


}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* --------Top Blogs Styles --------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 33px;

}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;

}
/* ------------Courses Style--------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
   
    
}
.section-title_course{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    margin-top: 0px;
    margin-bottom: 12px;
    padding-left: 10px;

}
.course{
    margin-bottom: 24px;
   
    
}
.course-card{
    border: 5px rgb(218, 214, 214);
    border-radius: 20px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    background-color: rgb(255, 255, 255);
    padding:11px;
    padding-right: 15px;
    margin: 0;
    
}
.course .course-banner img{
    width: 250px;
    height: 118px;
    
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.course-duration{
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 14.6913px;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;

}
span{
    padding-left: 10px;
    padding-right: 30px;
}
