/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* NAV CSS */
/* 
#header {
    position: absolute;
    display: flex;
    justify-content:space-between;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 0px;
    background: #562EFF;
  }
  
  .logo{
    display: flex;
    padding-left: 15%;
    margin: 5px 0 0 1px;
  }
  .logo-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:white;
    padding: 7px 5px 5px 10px;
    margin-top: 0 ;
      
  }
  
  #nav-bar{
      padding-right: 15%;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
  }
  
  nav ul li {
    list-style: none;
  }
  
  nav ul li a {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 12px 0;
    margin: 0 16px;
    color: #ffffff;
    text-decoration: none;
  }
  .nav-img{
    padding-top: -10px;
    margin-top: -5px;
    width: 36px;
    height: 36px;
} */

.container{
    background-color: rgb(255, 255, 255);
    width: 870px;
    padding: 30px ;
    border-radius: 10px;
    margin-top: 33px;
    margin-bottom: 19px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/*-------- Top Players style--------- */

.top-players{
    margin-bottom: 30px;
}

.section-title{
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #562EFF;
margin-top: 3px;
margin-bottom: 31px;


}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    margin-left: 10px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}

/* --------Top Blogs Styles --------*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    grid-column-gap: 33px;
    margin-left: 10px;


}
h3.blog-title{   
    margin-top: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;



color: #000000;
}
.blog{
    display: flex;
}
.blog img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;

}
/* ------------Courses Style--------- */
.container-course{
    background-color: rgb(255, 255, 255);
    width: 870px;
    height: 362px;
    padding: 30px ;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;

}
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    margin-left: -2%;
}
.section-title_course{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
    margin-top: 0px;
    margin-bottom: 0px;
    

}
h3.course-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20.0336px;
    line-height: 23px;
    color: #1E1E1E;
}
.course{
    margin-bottom: 24px;
    margin-right: 10px;

}
.course-card{
    border: 5px rgb(218, 214, 214);
    border-radius: 20px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    background-color: rgb(255, 255, 255);
    padding-left: 10px ;
    padding-top: 10px;
    margin:6%;  
    width: 83%;
}
.course .course-banner img{
    width: 100%;
    height: 100%;
    
}
.course-detail{
    padding: 0 3px 0 3px;
}
.course-info{
    display: flex;
    justify-content: space-between
}
.course-duration{
    font-family: Open Sans;
    background-color: #FFE4E8;
    color: #FF4A60;
    border-radius: 14.6913px;
    padding: 3px 0px 3px 0px;
}

.fa-star{
    font-size: 12px;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color: #AEAEAE;

}

p.course{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;
}
span{
    padding-left: 10px;
    padding-right: 20px;
    color: #A2A2A2;
}
/* video */
.container-iframe{
    background-color: rgb(255, 255, 255);
    width: 870px;
    height: 470px;
    padding: 30px ;
    border-radius: 10px;
    margin-bottom: 30px;
}
.video{
    width: 100%;
    height: 100%;
}
.responsive-iframe {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0%;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}



/* Media Queries */
/* For Mobile devices */

@media only screen and (max-width:688px) {
    .container, .container-course, .container-iframe {
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .players { 
        grid-template-columns: repeat(2, 1fr);
        
    }
    .blogs, .courses{ 
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{  
        flex-direction: column;
    }
    

}
/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container, .container-course{
        width: 100%;
        height: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player, .blog{  
        flex-direction: column;
    }
   
}